name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
      - uses: actions/checkout@v5
      
      - name: Use Node.js 20
        uses: actions/setup-node@v5
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        
      # Zip the build
      - name: Zip build
        run: zip -r GameBuild-${{ github.ref_name }}.zip build/

      # Publish the release
      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          files: GameBuild-${{ github.ref_name }}.zip
