name: Main

on:
  push:
    tags:
      - "v.*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: game-build
          path: build

      - name: Zip build
        run: zip -r GameBuild.zip build/

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: GameBuild.zip
