name: Release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: GH Release
        uses: softprops/action-gh-release@v2.5.0
